<h1>Welcome to CSE Motors!</h1>
<section class="full-width hero">
    <div class="overlay">
        <h2>DMC Delorean</h2>
        <ul class="no-decoration">
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <a class="goto-button" title="Own Today" href="/">Own Today</a>
    </div>
    <img src="/images/vehicles/delorean.jpg" alt="" class="hero">
</section>

<section>
    <h2>DMC Delorean Reviews</h2>
    <ul>
        <li>
            <quote>So fast its almost like traveling in time.</quote>
            (4/5)
        </li>
    </ul>
    <ul>
        <li>
            <quote>Coolest ride on the road.</quote>
            (4/5)
        </li>
        </li>
    </ul>
    <ul>
        <li>
            <quote>I'm feeling McFly!</quote>
            (5/5)
        </li>
        </li>
    </ul>
    <ul>
        <li>
            <quote>The most futureistic ride of our day.</quote>
            (4.5/5)
        </li>
        </li>
    </ul>
    <ul>
        <li>
            <quote>80's livin and I love it!</quote>
            (5/5)
        </li>
        </li>
    </ul>
</section>

<section id="delorean-upgrades">
    <h2>Delorean Upgrades</h2>
    <ul class="no-decoration">
        <li>
            <figure>
                <img src="/images/upgrades/flux-cap.png" alt="flux capacitor">
                <a href="/">Flux capacitor</a>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/images/upgrades/flame.jpg" alt="Flame">
                <a href="/">Flame Decals</a>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper sticker">
                <a href="/">Bumper Stickers</a>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub cap">
                <a href="/">Hub Caps</a>
            </figure>
        </li>
    </ul>
</section>