<h1 class="full-width">Welcome to CSE Motors!</h1>
<section class="full-width hero">
    <div class="overlay">
        <h2>DMC Delorean</h2>
        <ul class="no-decoration">
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <a class="goto-button" href="/">Own Today</a>
    </div>
    <img src="/images/vehicles/delorean.jpg" alt="" class="hero">
</section>

<h2 id="delorean-review-title">DMC Delorean Reviews</h2>
<div>
    <ul>
        <li>
            <span class="quote">So fast its almost like traveling in time.</span>
            (4/5)
        </li>
    </ul>
    <ul>
        <li>
            <span class="quote">Coolest ride on the road.</span>
            (4/5)
        </li>
    </ul>
    <ul>
        <li>
            <span class="quote">I'm feeling McFly!</span>
            (5/5)
        </li>
    </ul>
    <ul>
        <li>
            <span class="quote">The most futureistic ride of our day.</span>
            (4.5/5)
        </li>
    </ul>
    <ul>
        <li>
            <span class="quote">80's livin and I love it!</span>
            (5/5)
        </li>
    </ul>
</div>

<h2 id="delorean-upgrades-title">Delorean Upgrades</h2>
<div id="delorean-upgrades">
    <ul class="no-decoration">
        <li>
            <figure>
                <img src="/images/upgrades/flux-cap.png" alt="flux capacitor">
                <a href="/">Flux capacitor</a>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/images/upgrades/flame.jpg" alt="Flame">
                <a href="/">Flame Decals</a>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper sticker">
                <a href="/">Bumper Stickers</a>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub cap">
                <a href="/">Hub Caps</a>
            </figure>
        </li>
    </ul>
</div>