<% if (title) { %>
  <h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<ul>
  <li>
    <a href="/inv/classification">Create new classification</a>
  </li>
  <li>
    <a href="/inv/create">Add new inventory item.</a>
  </li>
</ul>